.container {
  margin: 4.8rem 4.6rem 3rem 4.6rem;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
}
.user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.user > li > a {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: var(--color-black-light);
  gap: 0.2rem;
  cursor: pointer;
}

.user > li > p {
  font-size: 0.9rem;
  color: var(--color-text-light);
}

.nav {
}

.nav_menu {
  display: flex;
  gap: 2rem;
  font-size: 3.8rem;
  font-weight: 600;
  margin-top: 3.8rem;
}

.nav_menu {
  height: 40px;
}
.nav_menu > li > a {
  display: inline-block;
  padding-bottom: 0.3rem;
}

.nav_categories {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.4rem;
}
.nav_category {
  display: flex;
  gap: 2rem;
  font-weight: 600;
}

.nav_category,
.span,
.nav_categry_etc {
  height: 20px;
}

.nav_category > li > a,
.nav_categry_etc > li > a {
  display: inline-block;
  padding-bottom: 0.8rem;
}
.span {
  margin: 0 2rem;
  font-weight: 300;
  color: var(--color-gray-light);
}
.nav_categry_etc {
  display: flex;
  gap: 2rem;
  font-weight: 300;
  font-style: italic;
}

.nav_menu > li,
.nav_category > li,
.nav_categry_etc > li {
  cursor: pointer;
}

.nav_menu > li > a:hover {
  border-bottom: 0.6rem solid var(--color-text);
}
.nav_category > li > a:hover,
.nav_categry_etc > li > a:hover {
  border-bottom: 0.4rem solid var(--color-text);
}
.selectedMenu {
  border-bottom: 0.6rem solid var(--color-text);
}
.selectedCategory {
  border-bottom: 0.4rem solid var(--color-text);
}

.search {
  position: absolute;
  right: 0;
  bottom: 3.7rem;
  font-size: 4.7rem;
  cursor: pointer;
}
