@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: var(--color-orange);
  --color-text: var(--color-black);

  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #ff4800;
  --color-border-gray: #d4d4d4;
}

html,
body,
p {
  padding: 0;
  margin: 0;
  font-family: campton, 'Apple SD Gothic Neo', NanumBarunGothic, 나눔바른고딕,
    'Malgun Gothic', '맑은 고딕', dotum, sans-serif;
  background-color: var(--color-white);
  line-height: 1;
}

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}
